 p{
  white-space: normal;
  text-align: center;
  letter-spacing: normal;
  overflow-wrap:break-word;
  word-wrap: break-word;
  white-space: pre;
  margin-left: 20%;
}

h1{
  text-align: center;
  margin-left: 20%;
}

text{
  text-align: center;
}
