<h1>Présentation</h1>

<div id="text">
  Te voilà sur mon site, je me présente, je suis Michael Verminnen et je te présente mon projet en plein développement,
  qui constitue à t'apprendre certaines choses sur le développement personnel, certaines façons de faire des économies,
  des façons d'investir, ainsi que certaines façons de vous créer une voire plusieurs sources de revenu.
  Tu vas certainement te dire "encore un", mais pour tout te dire, il y a plein de sites d'investissement à trier et risquer
  de perdre votre investissement, il y a plusieurs sites d'infos mais de base, il y a plusieurs sites de formations pour "s'enrichir",
  pour investir et pour gagner de "l'argent", j'en ai testé des sites d'infos, d'investissement et de formations pour gagner de l'argent,
  mais qui coûtent cher pour celui qui est sans argent mais motivé pour faire ce qu'il faut pour en gagner, ou quelqu'un qui a
  de l'argent, mais qui n'a pas été éduqué financièrement à la façon d'investir, d'épargner et de dépenser.
  Je démarre en même temps que toi et je ne suis pas la pour m'enrichir sur ton dos ou te vendre une formation à 2000$ ou plus,
  mais je suis la pour créer et mettre à ta disposition une plateforme où tu as tout à portée de main, (développement personnel,
  infos diverses, formations, trucs et astuces d'économies, à reprendre confiance en toi et réaliser tes objectifs,
  plusieurs idées de revenus, des PDF seront à ta disposition, je t'invite donc si tu es intéressé de suivre mon contenu je t'invite
  à laisser tes coordonnées à l'entrée du site et par les liens sociaux. J'invite également toute personne souhaitant partager
  ses idées ou conseils que j'ajouterai directement à celui-ci après mise au point ensemble, je vais vous faire part également de
  marketing relationnel ainsi que mes liens d'inscription a différentes plateformes afin que tu bénéficies de même avantages que moi.
  A très vite!

</div>

<div>
  <img id="photo1" src="./assets/school.jpg" alt="">
</div>

