
<div class="card">
  <div class="overflow-hidden card-container indigo-container">
      <div class="overflow-auto">
          <div>
              <div>
                  <h1>Éducation financière : comment s’y prendre ?</h1>
              </div>
              <span>
                <h2>QU’EST-CE QUE L’ÉDUCATION FINANCIÈRE ?</h2>
                <!-- L’éducation financière s’adresse à tous, non seulement aux enfants,
                mais également aux adultes. S’éduquer financièrement,
                c’est se donner les moyens de développer des connaissances pour comprendre le monde financier,
                pour être en mesure de prendre ses propres décisions, en connaissance de cause et en toute confiance.
                L’éducation financière est non seulement un atout de taille pour apprendre à gérer son argent,
                se constituer une épargne et investir sur le long terme, mais c’est aussi une arme solide pour contribuer à l’économie.

                Les notions importantes dans l’éducation financière sont les suivantes :

                -Une connaissance de la valeur de l’argent
                -La compréhension entre valeur et prix
                -L’apprentissage de gestion de la monnaie
                -L’équilibre entre les revenus et les dépenses
                -Le rapport à l’économie et au crédit
                -Etre attentif à la sécurité (escroqueries) -->
                <!-- <input type="text" [(ngModel)]="article1" [disabled]="true"> -->
              </span>
          </div>
          <div>
              <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">

              </div>
              <p class="surface-overlay p-4 m-0">

              </p>
          </div>
          <div>
              <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">

              </div>
              <p class="surface-overlay p-4 m-0">

             </p>
          </div>
          <div>
              <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4">

              </div>
              <p class="surface-overlay p-4 m-0">

              </p>
          </div>
          <div>
              <div class="sticky top-0 font-bold text-white bg-indigo-500 p-4" text-align: center>

              </div>
              <p class="surface-overlay p-4 m-0">

              </p>
          </div>
      </div>
  </div>
</div>




